*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    background-color: white;
    font: 800 1rem "cursive";
    box-shadow: 0 15px 10px 0px rgb(230, 226, 226);
    position: sticky;
}

nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav h1{
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
}

nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* border: 2px solid black ; */
    
}
nav .menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    
}

nav .menu-item li{
    list-style-type: none;
}

nav .menu-item a{
    text-decoration: none;
    color: #232323;
    cursor: pointer;
    transition: 0.4s color ease-in-out;
    padding: 0.3rem;
}

a:hover{
    color: azure;
}


/* Hamburger Menu */

.hamburger-menu{
    display: none ;
    cursor: pointer;
}

.bars{
    width: 25px;
    margin: 2px auto;
    display: block;
    height: 2px;
    border: 2px solid #232323;
}

@media (max-width:750px) {
    .hamburger-menu{
        display: block;
    }

    .hamburger-menu.active .bars:nth-child(2){
        opacity: 0;
    }
    .hamburger-menu.active .bars:nth-child(1){
        transform: translateY(6px) rotate(45deg);
    }
    .hamburger-menu.active .bars:nth-child(3){
        transform: translateY(-6px) rotate(-45deg);
    }

    .menu-item{
        position: fixed;
        top: 0px;
        left: -100%;
        background-color: #232323;
        width: 100%;
        height: 50vh;
        flex-direction: column;
        transition: 0.5s ease-in-out;
        padding: 2rem;
        /* idhar padding dene ka fayda hai jab wo inactive hamburger to padding khatam nahi hogi */
        
    }
    
    .menu-item.active{
        left: 0%;
        top: 0%;
        /* aur idhar padding dene se padding khatam hojayegi jese hi toggle/inactive hoga  */
    }
    
    .hamburger-menu.active .bars{
        border: 2px solid #fff;
        transition: 0.7s;
    }

    .menu-item li a{
        color: #fff;
        transition: 0.3s;
    }

     

}